
block footer
	//- #footer
	//- 	#footer-text
	//- 		p Also, I...
	//- 		p(style="margin-left: #{1 * 5 + 50}px") co-run a startup to help 
	//- 			span nonprofits 
	//- 			| with 
	//- 			span tech
	//- 		p(style="margin-left: #{2 * 5 + 50}px") 
	//- 			span develop 
	//- 			| system applications at 
	//- 			span Gallup
	//- 		p(style="margin-left: #{3 * 5 + 50}px") 
	//- 			span run 
	//- 			| 8ks and half marathons with Terp Runners
	//- 		p(style="margin-left: #{4 * 5 + 50}px") 
	//- 			span organize 
	//- 			| a hackathon
	//- 		p(style="margin-left: #{5 * 5 + 50}px") study 
	//- 			span Computer Science 
	//- 			| at 
	//- 			span UMD
	//- 		p(style="margin-left: #{6 * 5 + 50}px") compete in 
	//- 			span cybersecurity 
	//- 			| competitions
	//- 		p(style="margin-left: #{7 * 5 + 50}px") among others. 
	//- 		//- p 
	//- 			a(href="mailto:colink@umd.edu?Subject=Hi%20Colin!") Contact me
	//- 		//.email!= "<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'	 viewBox='-179 261 120 120' enable-background='new -179 261 120 120' xml:space='preserve'><path fill='none' d='M-179,261h120v120h-120V261z'/><path d='M-124.8,266.4c13.3-1.3,27.1,2.5,37.7,10.6c12.5,9.3,20.6,24.1,21.5,39.6c1,14-3.7,28.3-12.8,38.9	c-9.5,11.2-23.7,18.3-38.3,19c-14,0.8-28.2-4-38.7-13.3c-11.3-9.8-18.2-24.3-18.6-39.2c-0.5-13.8,4.6-27.8,13.9-38	C-150.9,274-138.1,267.6-124.8,266.4z'/><path fill='#FFFFFF' d='M-137.4,274.1c12.7-4.8,27.6-4.5,39.8,1.6c9.9,4.8,18.1,13.1,22.8,23c7.2,14.8,6.5,33.2-2.1,47.3	c-7.3,12.3-20.2,21.1-34.3,23.5c-9.9,1.5-20.3,0.4-29.4-3.9c-11.8-5.5-21.6-15.8-25.7-28.2c-5.7-15.2-3.2-33.1,6.5-46.1	c5.5-7.6,13.2-13.4,21.8-17c-2.7,4-3.9,9.1-8.1,11.9c-10,7.5-16.3,19.6-16.9,32.1c-0.9,3.9-3.9,7.1-5.4,10.8	c2.4,1.4,4.9,2.8,7.3,4.2c4.1,12.8,14.4,23.6,27.1,28c9.8,3.6,20.7,3,30.5-0.4c-19.1-10.6-38.2-21.3-57.2-32	c12.4-3.1,24.8-6.2,37.2-9.3c2.1,6.3,4.1,12.7,6.1,19c5.7-1.2,11.3-2.4,17-3.7c2.4,6.7,4.8,13.3,7.1,20c1-0.8,1.9-1.6,2.9-2.5	c-2.1-6.1-4.4-12.2-6.5-18.3c6.5-1.4,13.1-2.8,19.6-4.3c0.2-1,0.5-2.9,0.7-3.8c-12.8,2.7-25.6,5.6-38.4,8.2	c-5.6-17.4-11.2-34.9-16.8-52.3c18.3,10.2,36.6,20.4,54.9,30.5c-2.3-10.5-8.2-20.4-17-26.8c-10.2-7.7-23.7-10.4-36.1-7.6	C-132.6,277.1-134.9,275.4-137.4,274.1z'/><path fill='#FFFFFF' d='M-136.5,278.9c3.9,12.4,8,24.8,11.9,37.2c-12.7,3.2-25.4,6.2-38,9.5C-153.8,310.1-145.2,294.5-136.5,278.9z'	/></svg>"
	script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-68373220-1', 'auto');
		ga('send', 'pageview');
