
extends layout

block content
	#projects
		for project in projects.data
			.project
				.image
				.project-content
					.project-title
						h3 #{project.title}
					.project-tags
						for tag in project.tags
							div.tag(style="background-color:#{tagdata[tag].color}" class=tagdata[tag].darktext != undefined ? 'dark': '')
								span #{tagdata[tag].text}
					.project-text
						p #{project.text}